@import "../utilities/noselect.scss";

$height: 30px;
$start-label-width: 50px;
$finish-label-width: 50px;

.slider_start_label {
	width: $start-label-width;
	height: $height;
	float: left;
	background-color: red;
}
.slider_timescale {
	position: relative;
	width: auto;
	height: $height;
	margin-left: $start-label-width;
	margin-right: $finish-label-width;
	background-color: green;
}
.slider_finish_label {
	width: $finish-label-width;
	height: $height;
	float: right;
	background-color: blue;
}
.slider_start_time {
	position: absolute;
	left: 0;
	transform: rotate(-90deg) translateX(-50%) translateY(-50%);
	font-size: 0.6em;
}
.slider_finish_time {
	position: absolute;
	right: 0;
	transform: rotate(90deg) translateX(50%) translateY(-50%);
	font-size: 0.6em;
}