
/**************** 20-6-2015 *******************/

@font-face {
	font-family: 'Conv_MyriadPro-Regular_2';
	src: url('../fonts/MyriadPro-Regular_2.eot');
	src: url('../fonts/MyriadPro-Regular_2.woff') format('woff'), url('../fonts/MyriadPro-Regular_2.ttf') format('truetype'), url('../fonts/MyriadPro-Regular_2.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_MyriadPro-Semibold_2';
	src: url('../fonts/MyriadPro-Semibold_2.eot');
	src: url('../fonts/MyriadPro-Semibold_2.woff') format('woff'), url('../fonts/MyriadPro-Semibold_2.ttf') format('truetype'), url('../fonts/MyriadPro-Semibold_2.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_MyriadPro-Bold_2';
	src: url('../fonts/MyriadPro-Bold_2.eot');
	src: url('../fonts/MyriadPro-Bold_2.woff') format('woff'), url('../fonts/MyriadPro-Bold_2.ttf') format('truetype'), url('../fonts/MyriadPro-Bold_2.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	padding: 0;
	margin: 0;
	font-size: 12px;
	color: #000;
	font-family: 'Conv_MyriadPro-Regular_2';
	background: #f1f2f2;
	overflow-x: hidden;
}
a {
	outline: none !important;
	text-decoration: none;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}
a:hover, a:focus, select:focus, button:focus {
	outline: none;
	text-decoration: none;
}
* {
	margin: 0;
	padding: 0;
}
img {
	border: none;
	vertical-align: middle;
	max-width: 100%;
}
li {
	list-style: none;
}
h1, h2, h3, h4, h5, h6, input, select, textarea, button {
	outline: none;
	font-family: 'Conv_MyriadPro-Regular_2';
}
input, textarea, select {
	-moz-appearance: none;
	-webkit-appearance: none;
}
.container {
	width: 96%;
	margin: 0 auto;
	padding: 0;
}
/************* Wrapper *************/
.wrapper {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
}
.wrapper .map_block {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
}
.wrapper .map_block iframe {
	max-width: 100%;
	line-height: 1px;
}
.wrapper .map_right {
	    width: 100%;
    max-width: 427px;
    float: right;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 15px;
    right: 15px;
    line-height: normal;
}
.wrapper .map_toggle {
	width: 46px;
    height: 42px;
    float: right;
    display: block;
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: #fff;
    line-height: 42px;
    text-align: center;
    background: #1c89c6;
    /* position: absolute; */
    /* left: -46px; */
}
.wrapper .map_right .inner_block {
	width: 380px;
    height: 500px;
    float: right;
    /* display: inline-block; */
    padding: 0;
    margin: 0;
    background: #fff;
}
.wrapper .map_right .inner_block .right_link {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
}
.wrapper .map_right .inner_block .right_link ul {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
}
.wrapper .map_right .inner_block .right_link ul li {
	width: 33.3%;
	float: left;
	padding: 0;
	margin: 0;
	text-align: center;
	display: inline-block;
	border-right: 1px solid #999999;
}
.wrapper .map_right .inner_block .right_link ul li:last-child {
	border: none;
}
.wrapper .map_right .inner_block .right_link ul li a {
	width: 100%;
	padding: 10px 5px;
	margin: 0;
	font-size: 17px;
	color: #999999;
	height: 42px;
	display: block;
	background: #cccccc;
	font-family: 'Conv_MyriadPro-Bold_2';
}
.wrapper .map_right .inner_block .right_link ul li a:hover, .wrapper .right_sec .right_link ul li a.select {
	background: #999999;
	color: #fff;
}
/*********** Event Detail ***********/
.wrapper .map_right .event_sec {
	width: 100%;
	float: left;
	padding: 30px 30px 10px 30px;
	margin: 0;
	background: #ffffff;
}
.wrapper .map_right .event_sec .event_select {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0 0 30px 0;
}
.wrapper .map_right .event_sec .event_select label {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0 0 5px 0;
	font-size: 19px;
	color: #333333;
	font-weight: normal;
	font-family: 'Conv_MyriadPro-Semibold_2';
}
.wrapper .select-field {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
}
.wrapper .select-field .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 100%;
}
.wrapper .select-field .btn-default {
	height: 38px;
	font-size: 17px;
	color: #696969;
	border: 1px solid #bdcee0;
	background: #fff !important;
	border-radius: 1px;
	outline: none !important;
	-webkit-box-shadow: 0 1px 7px rgba(178, 178, 178, 0.5) inset, 0 0 2px rgba(237, 237, 237, 0.7);
	box-shadow: 0 1px 7px rgba(178, 178, 178, 0.5) inset, 0 0 2px rgba(237, 237, 237, 0.7);
}
.wrapper .select-field .btn-default:hover, .wrapper .select-field .btn-default:focus, .wrapper .select-field .btn-default.focus, .wrapper .select-field .btn-default:active, .wrapper .select-field .btn-default.active, .open > .dropdown-toggle.btn-default {
	background: #fff;
	outline: none !important;
}
.wrapper .select-field .bootstrap-select.btn-group .btn .caret {
	width: 33px;
	height: 36px;
	background: url(../images/select_bg.jpg) no-repeat left top;
	top: 2px;
	right: 1px;
	border: none;
}
.wrapper .map_right .filter {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
}
.wrapper .map_right .filter h3 {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
	font-size: 19px;
	color: #333333;
	font-family: 'Conv_MyriadPro-Semibold_2';
}
.wrapper .map_right .collapse_sec {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
}
.wrapper .map_right .panel-group .panel {
	border: none;
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .25);
	box-shadow: 0 0 0 rgba(0, 0, 0, .25);
}
.wrapper .map_right .panel-default > .panel-heading {
	background: none;
	border: none;
	border-bottom: 2px solid #d6d6d6;
}
.wrapper .map_right .panel-title {
	font-size: 15px;
	color: #333333;
	font-family: 'Conv_MyriadPro-Semibold_2';
}
.wrapper .map_right .panel-title span {
	color: #cccccc;
}
.wrapper .map_right .panel-collapse > .panel-body {
	border: none !important;
}
.wrapper .map_right .check_detail {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
}
.wrapper .map_right .check_detail label {
	width: 100%;
	font-size: 16px;
	color: #000000;
	font-family: 'Conv_MyriadPro-Semibold_2';
}
.wrapper .map_right .inner_block .filter_btn {
	width: 100%;
	float: left;
	padding: 0 30px;
	margin: 0;
}
.wrapper .map_right .inner_block .filter_btn a {
	width: 100%;
	height: 39px;
	float: left;
	padding: 0 15px;
	margin: 0;
	line-height: 39px;
	text-align: center;
	font-size: 18px;
	color: #696969;
	background: #e3e3e3;
	border: 1px solid #bdcee0;
	border-radius: 4px;
	font-family: 'Conv_MyriadPro-Semibold_2';
	-webkit-box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.1) inset;
}
.wrapper .map_right .inner_block .filter_btn a:hover {
	background: #d3d3d3;
}
/************* Left Sec *************/
.wrapper .detail_main {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
}
.wrapper .left_sec {
	width: 71%;
	float: left;
	padding: 0;
	margin: 0;
}
.wrapper .left_sec .map_sec {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
}
.wrapper .left_sec .map_sec img, .wrapper .left_sec .map_sec iframe {
	width: 100%;
	max-width: 100%;
}
.wrapper .left_sec .home_detail {
	width: 100%;
	float: left;
	padding: 0;
	margin: 16px 0 28px 0;
}
.wrapper .left_sec .home_detail ul.grid-list {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
}
.wrapper .left_sec .home_detail ul.grid-list li {
	width: 18%;
	float: left;
	padding: 10px 10px 25px 10px;
	margin: 30px 1% 1% 1%;
	text-align: center;
	border: 1px solid #cccccc;
	border-radius: 2px;
}
.wrapper .left_sec .home_detail ul.grid-list li .social {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
}
.wrapper .left_sec .home_detail ul.grid-list li .social figure {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0 0 25px 0;
}
.wrapper .left_sec .home_detail ul.grid-list li .social h4 {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0 0 5px 0;
	font-size: 19px;
	color: #cccccc;
}
.wrapper .left_sec .home_detail ul.grid-list li .social p {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
	font-size: 30px;
	color: #999999;
	line-height: 40px;
}
.wrapper .left_sec .home_detail ul.grid-list li .graph {
	width: 100%;
	float: left;
	padding: 0;
	margin: 21px 0 0 0;
}
.wrapper .left_sec .home_detail ul.grid-list li .graph h4 {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0 0 28px 0;
	font-size: 30px;
	color: #999999;
}
.wrapper .left_sec .home_detail ul.grid-list li .graph figure {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0 0 23px 0;
}
.wrapper .left_sec .keyword_detail {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
}
.wrapper .left_sec .keyword_detail .left {
	width: 20%;
	float: left;
	padding: 0 0 0 1%;
	margin: 10px 0 0 0;
	font-size: 30px;
	color: #999999;
	text-shadow: 1px 1px 1px #fff;
}
.wrapper .left_sec .keyword_detail .right {
	width: 80%;
	max-width: 590px;
	float: left;
	padding: 0 0 0 10px;
	margin: 0;
}
.wrapper .left_sec .keyword_detail .right ul {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
}
.wrapper .left_sec .keyword_detail .right ul li {
	width: 100%;
	min-height: 55px;
	float: left;
	padding: 0;
	margin: 0 0 22px 0;
	font-size: 20px;
	color: #666666;
	line-height: 55px;
	font-family: 'Conv_MyriadPro-Semibold_2'
}
.wrapper .left_sec .keyword_detail .right ul li .progress {
	margin: 0;
	height: 55px;
	border-radius: 0;
	background: none;
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .25);
	box-shadow: 0 0 0 rgba(0, 0, 0, .25);
}
.wrapper .left_sec .keyword_detail .right ul li .progress-bar {
	padding: 0 22px;
	font-size: 20px;
	color: #666666;
	text-align: left;
	line-height: 55px;
	white-space: nowrap;
	font-family: 'Conv_MyriadPro-Semibold_2';
	background: #cccccc;
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .25);
	box-shadow: 0 0 0 rgba(0, 0, 0, .25);
}
.wrapper .left_sec .start_detail {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
	background: #f1f2f2;
	text-align: center;
}
.wrapper .left_sec .entry_detail .entry_title {
	width: 100%;
	float: left;
	padding: 20px 0;
	margin: 0;
}
.wrapper .left_sec .entry_detail .entry_title h2 {
	float: left;
	padding: 0;
	margin: 0;
	font-size: 24px;
	color: #999999;
	line-height: 43px;
	font-family: 'Conv_MyriadPro-Semibold_2';
}
.wrapper .left_sec .entry_detail .entry_title span.time_detail {
	float: left;
	padding: 7px 15px 3px 15px;
	margin: 0 0 0 40px;
	font-size: 24px;
	color: #999999;
	font-family: 'Conv_MyriadPro-Semibold_2';
	background: #cccccc;
}
.wrapper .left_sec .entry_detail .table_listing {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
}
.wrapper .full_screen {
	height: 39px;
	float: right;
	padding: 0 15px;
	margin: 0;
	line-height: 39px;
	font-size: 18px;
	color: #696969;
	background: #e3e3e3;
	border: 1px solid #bdcee0;
	border-radius: 4px;
	-webkit-box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.1) inset;
}
.wrapper .full_screen:hover {
	background: #d3d3d3;
}
.wrapper .full_screen i {
	margin-right: 10px;
}
.wrapper .reply_btn {
	white-space: nowrap;
	padding: 7px 10px 4px 10px;
	margin: 0;
	display: inline-block;
	font-size: 16px;
	color: #696969;
	border: 1px solid #c0d0e1;
	background: #ffffff;
	-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1) inset;
}
.wrapper .reply_btn i {
	color: #0084b4;
	margin-right: 5px;
}
.wrapper .reply_btn:hover {
	background: #d3d3d3;
}
.export_btn {
	height: 39px;
	font-size: 16px;
	color: #696969;
	background: #e3e3e3;
	border: 1px solid #bdcee0;
	border-radius: 0;
	-webkit-box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.1) inset;
}
.export_btn:hover {
	border: 1px solid #bdcee0;
}
/************* Right Sec *************/
.wrapper .right_sec {
	width: 29%;
	float: right;
	padding: 0;
	margin: 0;
}
/* Basic Checkbox styles */
input[type=checkbox]+.lbl::before, input[type=radio]+.lbl::before {
	font-family: fontAwesome;
	font-weight: normal;
	font-size: 11px;
	color: #000000;
	content: "\a0";
	background-color: #FAFAFA;
	border: 1px solid #CCC;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	border-radius: 0;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	height: 17px;
	line-height: 17px;
	min-width: 17px;
	margin-right: 10px;
	margin-top: -4px;
}
/* Checked state styles */
input[type=checkbox]:checked+.lbl::before, input[type=radio]:checked+.lbl::before {
	display: inline-block;
	content: '\f00c';
	background-color: #F5F8FC;
	border-color: #adb8c0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}
/* Hover state styles */
input[type=checkbox]:hover+.lbl::before, input[type=radio]:hover+.lbl::before, input[type=checkbox]+.lbl:hover::before, input[type=radio]+.lbl:hover::before {
	border-color: #1c7aad;
}
/* Shadow when checked or Active */
input[type=checkbox]:active+.lbl::before, input[type=radio]:active+.lbl::before, input[type=checkbox]:checked:active+.lbl::before, input[type=radio]:checked:active+.lbl::before {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
/* Disabled state styles */
input[type=checkbox]:disabled+.lbl::before, input[type=radio]:disabled+.lbl::before, input[type=checkbox][disabled]+.lbl::before, input[type=radio][disabled]+.lbl::before, input[type=checkbox].disabled+.lbl::before, input[type=radio].disabled+.lbl::before {
	background-color: #DDD !important;
	border-color: #CCC !important;
	box-shadow: none !important;
	color: #BBB;
}
/* Styles for Radio button */
input[type=radio]+.lbl::before {
	border-radius: 32px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
}
input[type=radio]:checked+.lbl::before {
	content: "\2022";
}
/* Hiding default checkbox and Radio button design */
input[type=checkbox], input[type=radio] {
	opacity: 0;
	position: absolute;
	z-index: 12;
	width: 18px;
	height: 18px;
}
/* Disable outline when clicked*/
input[type=checkbox]:checked, input[type=radio]:checked, input[type=checkbox]:focus, input[type=radio]:focus {
	outline: none !important;
}
input[type=checkbox]+.lbl, input[type=radio]+.lbl {
	position: relative;
	z-index: 11;
	display: inline-block;
	margin: 0;
	line-height: 20px;
	min-height: 14px;
	min-width: 14px;
	font-weight: normal;
}
.wrapper .right_sec .duration_sec {
	width: 100%;
	min-height: 543px;
	float: left;
	padding: 0;
	margin: 0;
	background: #cccccc;
}
.wrapper .right_sec .duration_sec .title {
	width: 100%;
	min-height: 60px;
	float: left;
	padding: 14px;
	margin: 0;
	background: #999999;
	position: relative;
}
.wrapper .right_sec .duration_sec .title a.back_link {
	width: 35px;
	height: 35px;
	float: left;
	padding: 0;
	margin: 3px 0 0 0;
}
.wrapper .right_sec .duration_sec .title h3 {
	width: 100%;
	float: left;
	padding: 0;
	margin: 9px 0 0 15px;
	font-size: 19px;
	color: #ffffff;
	font-family: 'Conv_MyriadPro-Semibold_2';
}
.wrapper .right_sec .duration_sec .title h3 i {
	font-size: 18px;
	margin-right: 10px;
}
.wrapper .right_sec .duration_sec .title h3 span {
	font-size: 16px;
}
.wrapper .right_sec .duration_sec .title .select_detail {
	width: 40%;
	float: right;
	padding: 0;
	margin: 0;
}
.wrapper .right_sec .duration_sec .duration_inner {
	width: 100%;
	float: left;
	padding: 25px 30px 10px 30px;
	margin: 0;
}
.wrapper .right_sec .duration_sec .duration_inner h2 {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0 0 15px 0;
	font-size: 19px;
	color: #333333;
	text-shadow: 1px 1px 1px #fff;
	font-family: 'Conv_MyriadPro-Semibold_2';
}
.wrapper .right_sec .duration_sec .duration_inner ul.action_list {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0 0 30px 0;
}
.wrapper .right_sec .duration_sec .duration_inner ul.action_list li {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0 0 4px 0;
}
.wrapper .right_sec .duration_sec .duration_inner ul.action_list li a {
	width: 100%;
	height: 38px;
	float: left;
	padding: 0;
	margin: 0;
	border: 1px solid #bdcee0;
	background: #fff;
	border-radius: 1px;
	outline: none !important;
	-webkit-box-shadow: 0 1px 7px rgba(178, 178, 178, 0.5) inset, 0 0 2px rgba(237, 237, 237, 0.7);
	box-shadow: 0 1px 7px rgba(178, 178, 178, 0.5) inset, 0 0 2px rgba(237, 237, 237, 0.7);
}
.wrapper .right_sec .duration_sec .duration_inner ul.action_list li a i.social_icon {
	width: 28px;
	float: left;
	padding: 0;
	margin: 6px 10px 0 6px;
}
.wrapper .right_sec .duration_sec .duration_inner ul.action_list li a p {
	float: left;
	padding: 0;
	margin: 9px 0 0 0;
	font-size: 16px;
	color: #696969;
}
.wrapper .right_sec .duration_sec .duration_inner ul.action_list li a span.people {
	width: 115px;
	min-height: 32px;
	float: right;
	padding: 2px 0 0 0;
	margin: 1px 1px 0 0;
	text-align: center;
	font-size: 17px;
	color: #696969;
	line-height: 32px;
	background: #e3e3e3;
}
/*---------------*/
.table tr td, .table tr th {
	border-top: none !important;
	font-size: 14px;
	font-weight: normal !important;
}
.table tr th {
	background: #fff;
	font-weight: normal !important;
}
.table tr th label {
	margin-bottom: 0px !important;
}
.grey-color {
	color: #696969;
}
.grey_bg {
	margin-left: 10px;
	color: #B5B5B5;
	background: #CCCCCC;
	border-radius: 0px !important;
	font-size: 20px !important;
}
.pagination {
	margin: 0px;
}
.pagination li a {
	font-size: 17px;
	margin-right: 5px !important;
	border-radius: 0px !important;
}
.btn-default {
	background: #E3E3E3 !important;
}
.pagination li a {
	background: #DFDFDF !important;
	color: #989898 !important;
	border: none;
}
.pagination li.active a {
	background: #CCCCCC !important;
}
.paging span {
	font-size: 15px;
}
.pagination .page a {
	background: none !important
}
#container {
	position: relative;
	height: 100%; /* Or whatever you want (eg. 400px) */
}
/***************** Popup Sec *******************/
.custommodal .modal-backdrop {
	background: #999999;
	opacity: 0.8;
}
.custommodal .modal-content {
	width: 100%;
	float: left;
	border-radius: 0;
	background: #f2f2f2;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.custommodal .entry_popup {
	width: 100%;
	float: left;
	padding: 44px 60px 70px 60px;
	margin: 0;
}
.custommodal .entry_popup h3 {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0 0 21px 0;
	text-align: center;
	font-size: 22px;
	color: #999999;
	line-height: normal;
	font-family: 'Conv_MyriadPro-Regular_2';
}
.custommodal .entry_popup h3 span {
	color: #2f90c7;
}
.custommodal .entry_popup .input_field {
	width: 100%;
	height: 52px;
	float: left;
	padding: 0 15px;
	margin: 0;
	font-size: 18px;
	color: #999999;
	border: 1px solid #1c89c6;
	background: #fff;
}
.custommodal .entry_popup .button_block {
	width: 100%;
	float: left;
	padding: 0 60px;
	margin: 24px 0 0 0;
	text-align: center;
}
.custommodal .entry_popup .button_block .direct_msg {
	min-width: 134px;
	height: 42px;
	float: left;
	padding: 0 15px;
	margin: 0;
	font-size: 18px;
	color: #ffffff;
	border: 1px solid #c1d1e2;
	line-height: 42px;
	background: #1c89c6;
}
.custommodal .entry_popup .button_block .direct_msg:hover {
	background: #37a6e4;
}
.custommodal .entry_popup .button_block .cancel_btn {
	min-width: 134px;
	height: 42px;
	float: right;
	padding: 0 15px;
	margin: 0;
	font-size: 18px;
	color: #696969;
	background: #e3e3e3;
	border: 1px solid #bdcee0;
	border-radius: 0;
	-webkit-box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.1) inset;
}
.custommodal .entry_popup .button_block .cancel_btn:hover {
	background: #d3d3d3;
}
.big_popup .modal-dialog {
	width: 1250px;
}
.custommodal .popup_datalist {
	padding: 15px 45px 0 45px;
}
.custommodal .popup_table_list {
	min-height: 400px;
}
.big_popup .modal-body {
	padding: 0;
}
.big_popup .action_detail {
	width: 100%;
	float: left;
	padding: 25px 15px 10px 25px;
	margin: 20px 0 0 0;
	background: #cccccc;
}
.big_popup .action_detail h2 {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0 0 15px 0;
	font-size: 19px;
	color: #333333;
	text-shadow: 1px 1px 1px #fff;
	font-family: 'Conv_MyriadPro-Semibold_2';
}
.big_popup .action_detail ul.action_list {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
}
.big_popup .action_detail ul.action_list li {
	width: 20%;
	float: left;
	padding: 0 10px 0 0;
	margin: 0 0 15px 0;
}
.big_popup .action_detail ul.action_list li a {
	width: 100%;
	height: 38px;
	float: left;
	padding: 0;
	margin: 0;
	border: 1px solid #bdcee0;
	background: #fff;
	border-radius: 1px;
	outline: none !important;
	-webkit-box-shadow: 0 1px 7px rgba(178, 178, 178, 0.5) inset, 0 0 2px rgba(237, 237, 237, 0.7);
	box-shadow: 0 1px 7px rgba(178, 178, 178, 0.5) inset, 0 0 2px rgba(237, 237, 237, 0.7);
}
.big_popup .action_detail ul.action_list li a i.social_icon {
	width: 28px;
	float: left;
	padding: 0;
	margin: 6px 10px 0 6px;
}
.big_popup .action_detail ul.action_list li a p {
	float: left;
	padding: 0;
	margin: 12px 0 0 0;
	font-size: 13px;
	color: #696969;
}
.big_popup .action_detail ul.action_list li a span.people {
	width: 95px;
	min-height: 32px;
	float: right;
	padding: 2px 0 0 0;
	margin: 1px 1px 0 0;
	text-align: center;
	font-size: 15px;
	color: #696969;
	line-height: 32px;
	background: #e3e3e3;
}
